body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: #333;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "Georgia", "Times New Roman", serif;
    letter-spacing: 1px;
}


img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.subheader {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
}

.info {
    padding: 40px 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
}
